@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #1356b4 0%, #92d9ff 100%);
  display: flex;
  align-items:center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  align-self: center;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  text-align: center;
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #044a72;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.636);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #03527f;
  opacity: 0.6;
  border-radius: 9px;
  color: #ffffff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 4rem;
}
.btn--roll {
  top: 39.3rem;
}
.img_gif{
  height: 30px;
  width: 30px;
  margin: 1px;
}
.btn--hold {
  top: 46.1rem;
}
.btn--mute {
  top: 52.4rem;
}


.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-color: #0ccd63cb;
}

.player--winner .name {
  font-weight: 700;
  color: #044a72;
}
.btn_blk{
  visibility: hidden;
}
.Span_gif{
  margin: 2px;
  padding-bottom: 1em;
}

@media screen and (max-width:739px) {
  main {
    position: relative;
    width: 35rem;
    height: 55rem;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
    display: flex;
    align-self: center;
  }
  .player {
    margin-top: 4.87em;
    margin-bottom: 93.5px;
    margin-right: -.4em;
    flex: 50%;
    width: 100px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    transition: all 0.75s;
    border-radius: 4%;
  }
  .name {
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;
  }
  
  .score {
    font-size: 5rem;
    font-weight: 300;
    color: #044a72;
    margin-bottom: auto;
  }
  .player--0{
    margin-right: 1em;
    margin-left: .7em;
  }
  .player--1{
    margin-left: -.5em;
    margin-right: .15em;
  }
  .player--active {
    background-color: rgba(255, 255, 255, 0.471);
  }
  .player--active .name {
    font-weight: 700;
  }
  .player--active .score {
    font-weight: 400;
  }
  
  .player--active .current {
    opacity: 1;
  }
  
  .current {
    margin-bottom: 9px;
    background-color: #03527f;
    opacity: 0.6;
    border-radius: 5px;
    color: #ffffff;
    width: 90%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
  }
  
  .current-label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: #ddd;
  }
  
  .current-score {
    font-size: 3.5rem;
  }
  
  /* ABSOLUTE POSITIONED ELEMENTS */
  .btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
  
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
  
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  }
  
  .btn::first-letter {
    font-size: 2.4rem;
    display: inline-block;
    margin-right: 0.7rem;
  }
  
  .btn--new {
    top: .6rem;
    width: 500%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
  }
  .btn--roll {
    visibility: hidden;
    top: 39.3rem;
  }
  .img_gif{
    visibility: hidden;
    height: 30px;
    width: 30px;
    margin: 1px;
  }
  .btn--hold {
    top: 46.5rem;
    width:500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
  }
  .btn--mute {
    top: 50.5rem;
    width: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
  }
  
  
  .btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }
  
  .btn:focus {
    outline: none;
  }
  
  .dice {
    position: absolute;
    left: 50%;
    top: 16rem;
    transform: translateX(-50%);
    transform: translateX(-50%);
    height: 7.5rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  }
  
  .player--winner {
    background-color: #0ccd63cb;
  }
  
  .player--winner .name {
    text-align: center;
    font-weight: 700;
    color: #044a72;
  }
  .btn_blk{
    visibility: hidden;
  }
  .Span_gif{
    margin: 2px;
    padding-bottom: 1em;
  }
}